.container-fluid{
    display: flex;
    justify-content: space-around; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: calc(100vh - 5%); /* Aproveita a altura total da viewport */
    padding-top: 5%;
}

.hello h2{
    margin: 0;
}

.hello p{
    margin: 0;
}

nav{
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: solid 1px var(--gray);
}

.items{
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 50%;
}

.link{
    cursor: pointer;
}

.inputSearch input{
    width: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.inputSearch{
    margin-bottom: 0 !important;
    width: 60%;
}

.content{
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 10%;
    padding-left: 10%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    width: calc(50% - 40px) !important;
    margin-bottom: 40px;
}

.not-found div{
    display: flex;
    justify-content: center;
}

.not-found div p{
    word-wrap: break-word;
    width: 340px;
}
.not-found img{
    width: 70%;
}