.input{
    width: 552px;
    height: 10%;
    padding: 16px;
    border-radius: 12px;
    border: solid var(--gray) 1px;
}

.unvalidated{
    border: solid var(--error) 1px !important;
}

.inputGroup{
    position: relative;
    margin-bottom: 20px;
}

.btn-visibility-password{
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    top: 9px;
    right: 9px;
}

.btn-visibility-password img{
    width: 35px;
    height: 35px;
}

.validation-error-message{
    display: block;
}