.difficulty div{
    border-radius: 12px;
    padding: 4px 16px 4px 16px;
    text-align: center;
    width: 50px;
}

.difficulty{
    display: flex;
    justify-content: end;
}

.view{
    max-width: 50%;
    padding-bottom: 5%;
}

.description{
    word-wrap: break-word;
}

h5{
    margin: 2% 0 !important;
}
